.html {
    max-width: 1180px;
    margin: 0px auto;
}

.flex__header {
    display: flex;
    justify-content: space-around;
    background-color: #445162;
    color: white;
    align-items: center;
}

h1 {
    padding-left: 67.2px;
    font-size: 60px;
    font-family: Arial;
    font-weight: 70;
}

.table__first {
    padding-left: 84px;
    font-size: 20px;
    font-family: Arial;
    font-weight: 70;
}

.img__header {
    margin: 67.2px;
}

.flex__about {
    display: flex;
    font-family: Arial;
    justify-content: space-around;
    align-items: center;
}

.img__video {
    margin: 67.2px;
}

.about__product {
    font-size: 30px;
}

h2 {
    font-family: Arial;
    color: #445162;
    font-weight: 70;
    padding-left: 120.2px;
    padding: 19.2px, 0, 0, 0;
}

.third {
    padding-left: 67.2px;
    font-size: 16px;
    color: #445162;
    font-family: Arial;
    font-weight: 70;
    padding-left: 120.2px;
}

h3 {
    text-align: center;
    color: #445162;
    font-family: Arial;
    font-weight: 70;
    font-size: 30px;
    padding: 45px, 1px, 1px, 1px;
    display: flex;
    justify-content: center;
}

.dignity {
    display: flex;
    justify-content: space-around;
    background-color: #f5f5f5;
}

.li__list {
    list-style-image: url(img/plus.jpg);
}

.list__li {
    padding: 10px;
}

.third__part {
    background-color: #f5f5f5;
}

h4 {
    font-family: Arial;
    font-size: 30px;
    text-align: center;
    color: #445162;
    font-weight: 70;
}

.flex__row {
    display: flex;
}

.zagolovok {
    color: #445162;
    font-family: Arial;
    font-weight: 70;
    font-size: 24px;
    margin: 0px;
    padding: 0px;
    margin-left: 16px;

}

.Lorem {
    font-family: Arial;
    font-weight: 70;
    font-size: 16px;
    margin-left: 16px;
    
}

.flex__zagal {
    display: flex;
    margin-left: 50px;
}

.flex__img {
    display: inline;
}


h5 {
    font-family: Arial;
    font-size: 30px;
    color: #445161;
    text-align: center;
    font-weight: 70;
}


.text {
    font-family: Arial;
    font-weight: 70;
    font-size: 14px;
    padding-left: 149px;
    position: absolute;
    font-style: italic;
    margin: -125px;
}

.name {
    font-family: arial;
    font-weight: 70;
    font-size: 14px;
    color: #989898;
}

.flex__comment_1 {
    display: flex;
    padding-left: 50px;
}


.flex__comment_2 {
    display: flex;
    padding-left: 50px;
}

.flex__comment_3 {
    display: flex;
    padding-left: 35px;
}

.flex__comment_4 {
    display: flex;
    padding-left: 35px;
}

.flex__columns {
    display: flex;
    position: relative;
}

.reviews {
    background-color: #f5f5f5;
}

h6 {
    font-family: arial;
    font-weight: 70;
    color: #445161;
    text-align: center;
    font-size: 30px;
}

.standart__img {
    position: absolute;
}

.text__standart {
    position: relative;
}

.standart {
    font-family: arial;
    font-weight: 70;
    font-size: 24px;
    color: white;
    margin-left: 100px;
    padding-top: 10px;
}

.standart__price {
    font-family: arial;
    font-weight: 70;
    font-size: 40px;
    color: #445162;
    margin-left: 100px;
    padding-top: 35px;
}

.standart__ul {
    color: white;
    font-family: arial;
    font-weight: 70;
    font-size: 14px;
    list-style-type: none;
}

.flex__price_standart {
    margin-left: 145px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-right: 145px;
}

.button__buy {
    color: #445161;
    font-weight: 70;
    font-size: 18px;
    font-family: arial;
    margin-top: -52px;
    margin-left: 130px;
    position: relative;
}

.button__standart {
    margin-top: 20px;
    margin-left: 20px;
    position: relative;
}

.first__price {
    position: relative;
    width: 300px;
    height: 67px;
    margin-top: -50px;
}

.premium {
    font-family: arial;
    font-weight: 70;
    font-size: 24px;
    color: white;
    margin-left: 100px;
    padding-top: 10px;
}

.premium__img {
    position: absolute;
}

.text__premium {
    position: relative;
}

.lux__img {
    position: absolute;
}

.lux__text {
    position: relative;
}

.lux {
    font-family: arial;
    font-weight: 70;
    font-size: 24px;
    color: white;
    margin-left: 100px;
    padding-top: 10px;
}

.third__price {
    position: S;
}

.button__lux {
    margin-top: 50px;
    margin-left: 20px;
    position: relative;
}

.lux__zag {
    font-family: arial;
    font-weight: 70;
    font-size: 24px;
    color: white;
    margin-left: 130px;
    padding-top: 10px;
}

.contacts {
    background-color: #445162;
}